{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeopleCare Hospitals-Patient Login</title>

    <link rel="shortcut icon" href="{% static 'images\favicon-32x32.png'%}" type="image/x-icon">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    
    <link rel="stylesheet" href="{% static 'css\home.css' %}">
    

</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bgi_color">
            <img src="{% static 'images/PeoplecareHospitals-logo.png' %}" 
            width="200" height="50" alt="" class="pl-10">
           
            <a class="navbar-brand px-3 text-white" href="#">PeopleCare Hospitals</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
             
            </div>
            <div class="topnav-right">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <h6>Welcome Back,{{name}}</h6>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle text-white p-0 pl-5" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Settings
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Change Password</a>
                            <a class="dropdown-item" href="#">View Profile</a>
                            <a class="dropdown-item" href="logout">Log Out</a>
                            
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
            
          </nav>

         <center><section>
            
            <div style="height: 100px;width: 100px;color: white;"></div>

            
            <div class="column-4 bgi_color">
              <a href="http://127.0.0.1:8000/phis/registration">
                <center><img  class="icon" src="{% static 'images/icon/registration.jpeg' %}" alt="">
                </center>
                <h6 class="project-text">Registration</h6>
              </a>
            </div>
            <div class="column-4 bgi_color ">
              <a href="#">
                <center><img  class="icon" src="{% static 'images/icon/appointment.jpeg' %}" alt=""></center>
                <h6 class="project-text">Appointment</h6>
             </a>
            </div>
            <div class="column-4 bgi_color">
              <a href="#">
                <center><img  class="icon" src="{% static 'images/icon/doctorspanel.jpeg' %}" alt=""></center>
                <h6 class="project-text">Doctor's Panel</h6>
              </a>
            </div>
            <div class="column-4 bgi_color">
              <a href="#">
                <center><img  class="icon" src="{% static 'images/icon/nursepanel.jpeg' %}" alt=""></center>
                <h6 class="project-text">Nurse's Panel</h6>
              </a>
            </div>
            <div class="column-4 bgi_color">
              <a href="#">
                <center><img  class="icon" src="{% static 'images/icon/administration.jpeg' %}" alt=""></center>
                <h6 class="project-text">Administration</h6>
              </a>
            </div>
         </section></center>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>